@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:968px) {
    
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile_grid {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 20px; 
  }
  
  .profile_data {
    text-align: center; 
  }
  
  .prof_info_about {
    text-align: center;
  }
  .profile_border{
    border: 3.5px solid black;
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  